<html data-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- 제이쿼리 불러오기 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- 폰트어썸 아이콘 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <!-- 아이콘 목록 : https://fontawesome.com/search?o=r&m=free -->

    <!-- 공통 JS 불러오기 -->
    <script src="/resource/common/common.js"></script>
    <!-- 공통 CSS 불러오기 -->
    <link rel="stylesheet" href="/resource/common/common.css">

    <title layout:title-pattern="$CONTENT_TITLE | $LAYOUT_TITLE">커뮤니티</title>
</head>

<body>

<!-- 데이지 UI 불러오기 -->
<link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.5/dist/full.css" rel="stylesheet" type="text/css"/>
<!-- 테일윈드 불러오기 -->
<script src="https://cdn.tailwindcss.com"></script>

<div class="min-h-screen flex flex-col">
    <header class="sticky top-0">
        <div class="navbar max-w-2xl mx-auto bg-base-100">
            <div class="navbar-start">
                <div class="dropdown">
                    <label tabindex="0" class="btn btn-ghost btn-circle">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" />
                        </svg>
                    </label>
                    <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
                        <li th:if="${@rq.logout}"><a href="/member/login"><i class="fa-solid fa-arrow-right-to-bracket"></i> 로그인</a></li>
                        <li th:if="${@rq.logout}"><a href="/member/join"><i class="fa-solid fa-user-plus"></i> 회원가입</a></li>
                        <li th:if="${@rq.login}"><a href="/member/me"><i class="fa-solid fa-user"></i> 내 정보</a></li>
                        <li th:if="${@rq.login}"><a href="/member/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i> 로그아웃</a></li>
                    </ul>
                </div>
            </div>
            <div class="navbar-center">
                <a href="/" class="btn btn-ghost normal-case text-xl">COMMUNITY</a>
            </div>
            <div class="navbar-end">
                <a href="/member/me" th:if="${@rq.login}" class="btn btn-ghost btn-circle">
                    <img th:src="${@rq.member.ProfileImgUrlOrDefault}" class="w-10 rounded-full" alt="">
                </a>
            </div>
        </div>
    </header>

    <main layout:fragment="main"></main>
</div>

</body>
</html>